################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Apache.Commons.Cli/bin/Debug/net5.0
